{% extends 'base_mypage.html' %}
{% include 'navbar_mypage.html' %}
{% block content %}
<div id="main-header">
    <!--본문-->
    <div id="content">
        <!--본문 우측 영역-->
        <div class='right_box' style="text-align:center;">
            <div style="margin: 10px 0;">
                <h1 >LEVEL {{ user_level }}</h1>
            </div>

            <img src="{{ url_for('static', filename='images/' + level_image) }}" style="width:200px; height:400px ;margin:15px 0" />
            <div style="width: 700px; height:50px; background-color:grey ;margin-top:50px ;border-radius:30px">
                <div class="progress-bar" style="width: {{ g.user.exp*10 }}% ;height:50px ; background-color: #85ff6e;border-radius:30px 0 0 30px" ></div>
            </div>
        </div>
        <!--본문 좌측 영역-->
        <aside id="main-aside" >
            <div class="left_box">
                {% if g.user %}
                    {% if g.user.image %}
                        <img src = "{{ url_for('static', filename = 'images/' + g.user.image )}}" style="width:200px;height:200px;margin:0 20px">
                    {% else %}
                        <img src = "{{ url_for('static', filename = 'images/default.png' )}}" style="width:200px;height:200px;margin:0 20px">
                    {% endif %}
                    <br>
                    <h2 style="text-align:center; margin-top:30px">{{ g.user.nickname }}</h2>
                    <p style="margin-top:50px;text-align:center ">{{ g.user.word }}</p>
                {% else %}
                    <div style="padding:150px 10px "><h1>로그인 하십시오.</h1></div>
                {% endif %}

            </div>
            <div class="aside-list" style="text-align:center">
                <p>내가 쓴 블로그 {{ g.user.exp }} 개</p>
            </div>
        </aside>
    </div>

</div>
{% endblock %}