{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <h2 class="border-bottom py-2">{{ blog.title }}</h2>
    <div class="row my-3">
        <div class="col-11"> <!-- 질문영역 -->
            <div class="card">
                <div class="my-3" id="modify">
                        <a href="{{ url_for('blog._list') }}"
                           class="btn btn-sm btn-outline-success ">홈으로</a>
                    {% if g.user == blog.user %}
                        <a href="{{ url_for('blog.modify', blog_id=blog.id) }}"
                           class="btn btn-sm btn-outline-success">수정</a>
                        <a href="#" class="delete btn btn-sm btn-outline-success"
                           data-uri="{{ url_for('blog.delete', blog_id=blog.id) }}">삭제</a>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if blog.image_name and blog.image_name != '' %}
                    <div class="card-text"><img src="{{ url_for('static', filename='images/' + blog.image_name) }}" alt="photo"></div>
                    {% endif %}
                    <div class="card-text" id="detail_content">{{ blog.content }}</div>
                    <div class="d-flex justify-content-end">
                        {% if blog.modify_date %}
                        <div class="badge badge-light p-2 text-left mx-3">
                            <div class="mb-2">modified at</div>
                            <div>{{ blog.modify_date|datetime }}</div>
                        </div>
                        {% endif %}
                        <div class="badge badge-light p-2 text-left">
                            <div class="mb-2">{{ blog.user.username }}</div>
                            <div>{{ blog.create_date|datetime }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"> <!-- 추천영역 -->
            <div class="text-center p-3 border font-weight-bolder mb-1" id="detail_voter">{{ blog.voter|length }}</div>
            <a href="#" data-uri="{{ url_for('vote.blog', blog_id=blog.id) }}"
               class="recommend btn btn-sm btn-outline-success btn-block my-1">추천</a>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
    $(".recommend").on('click', function() {
        if(confirm("정말로 추천하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}
