{% extends 'base.html' %}
{% include 'navbar_all.html' %}
{% block content %}
<div class="d-flex justify-content-center my-3">
  <div id="all_main">
        <div id="main_section">
            <div class="row my-3">
                <div id="nav_bar" class="col-2">
                    <select class="form-control so">
                        <option value="recent" {% if so=='recent' %}selected{% endif %}>최신순</option>
                        <option value="recommend" {% if so=='recommend' %}selected{% endif %}>추천순</option>
                    </select>
                </div>

                <div class="topic_box">
                    <div id="topic_now">
                        현재주제: {{ subject_name }}
                    </div>
                    <a href="{{ url_for('blog.create') }}" id="blog_btn" class="btn btn-outline-success">글 쓰러 가기</a>
                </div>

                <div class="ml-3">
                    <div class=" input-group" id="search_btn">
                        <input type="text" class="form-control kw" value="{{ kw or '' }}">
                          <div class="input-group-append" id="search">
                            <button class="btn btn-outline-success btn-block" type="button" id="btn_search">검색</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-3">
                {% if blog_list and blog_list.total > 0 %}
                <section class="all-section">
                    {% for blog in blog_list.items %}
                    <div class="all">
                        <div class="all-holder">
                            {% if blog.image_name and blog.image_name != '' %}
                            <img src="{{ url_for('static', filename='images/' + blog.image_name) }}" width="190" alt="photo">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/default.png') }}" width="190" alt="photo">
                            {% endif %}
                        </div>
                        <a id="all_title" class="all-link" href="{{ url_for('blog.detail', blog_id=blog.id) }}">
                            {{ blog.title }}
                        </a>
                        {{ blog.user.nickname }}
                    </div>
                    {% endfor %}
                </section>
                {% else %}
                <section class="main-section">
                    <div class="paper">
                        <div class="paper-holder">
                            <a class="paper-link" href="{{ url_for('blog.create') }}">블로그 작성하기</a>
                        </div>
                        <h3 class="paper-description">작성된 블로그가 없어요.</h3>
                        <p class="paper-description">강낭콩</p>
                    </div>
                </section>
                {% endif %}
            </div>

        </div>
      </div>

     <!-- <div class="ml-3 my-3 mt-100 all_serve">
          <h3 class="mt-3" style="text-align:center">{{ g.user.nickname }}</h3>
            {% if g.user %}
                <div class="mt-5" id="mypage_img_holder">
                    {% if g.user.image %}
                        <img src = "{{ url_for('static', filename = 'images/' + g.user.image )}}" style="width:200px;height:200px;margin:0 20px">
                    {% else %}
                        <img src = "{{ url_for('static', filename = 'images/default.png' )}}" style="width:200px;height:200px;margin:0 20px">
                    {% endif %}
                </div>
                <br>
          <a href="{{ url_for('mypage._list') }}"><h5>내 정보</h5></a>
        {% else %}
        {% endif %}
      </div> -->

</div>


<ul class="pagination justify-content-center">
       <!-- 이전페이지 -->
        {% if blog_list.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ blog_list.prev_num }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in blog_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != blog_list.page %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_num }}" href="#">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
           {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
           {% endif %}
        {% endfor %}
        {% if blog_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ blog_list.next_num }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
</ul>

<form id="searchForm" method="get" action="{{ url_for('blog._all') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
    <input type="hidden" id="so" name="so" value="{{ so }}">
</form>
{% endblock %}
{% block script %}

<script type='text/javascript'>
window.addEventListener('load', () => {
        $('.all-section').masonry({
            itemSelector: '.all',
            columnWidth: 230,
            horizontalOrder: false
        });
    });
    function getCurrentScroll() {
        return window.pageYOffset || document.documentElement.scrollTop;
    }
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}